<nb-card >
    <nb-card-header><h5> Leave Page</h5></nb-card-header>
    <nb-card-body>
        <div class="row show-grid ">
            <div class="calendar-container col-md-3 col-sm-12">
              <nb-calendar [(date)]="date" [boundingMonth]="true"></nb-calendar>
                <span class="subtitle">
                  Selected date: {{ date | date }}
                   </span>
              </div> 

            <div class="calendar-container col-md-3 col-sm-12" style="margin-left:40px;">
                <nb-card  [size]="'small'">
                    <nb-card-header id="grad" class="show text-light">Upcoming Holidays</nb-card-header>
                    <nb-card-body >
                      <nb-list style="padding:8px;">
                        <nb-list-item>Sample Holiday 1</nb-list-item>
                        <nb-list-item>Sample Holiday 2 </nb-list-item>
                        <nb-list-item>Sample Holiday 3 </nb-list-item>
                        <nb-list-item>Sample Holiday 4</nb-list-item>
                        <nb-list-item>Sample Holiday 5 </nb-list-item>
                        <nb-list-item>Sample Holiday 6 </nb-list-item>
                        <nb-list-item>Sample Holiday 7 </nb-list-item>
                        <nb-list-item>Sample Holiday 8 </nb-list-item>
                        <nb-list-item>Sample Holiday 9</nb-list-item>
                      </nb-list>
                    </nb-card-body>
                </nb-card>
           </div>

           <div class="calendar-container col-md-4 col-sm-12 show">
            <nb-card  [size]="'small'">
                <nb-card-body>
                  <input nbInput placeholder="Select Date" [nbDatepicker]="formpicker" style="width: 100%;">
                  <nb-rangepicker #formpicker></nb-rangepicker> <br> <br>
                   <!-- Total leave days :{{daysBetweenDates}} -->
                  <br><br> <hr>
                  <p>Select Leave Type : </p> 
                  <nb-select placeholder="Select Showcase">
                    <nb-option value="0" class="p-1">Select</nb-option>
                    <nb-option value="1" class="p-1">Billable Leave</nb-option>
                    <nb-option value="2" class="p-1">Non-billable Leave</nb-option>
                  </nb-select> <br> <br> <hr>

                  <nb-card  [size]="'small'">
                    <nb-card-header id="grad" class="show text-light">Employees on leave</nb-card-header>
                    <nb-card-body >
                      <nb-list style="padding:8px;">
                        <nb-list-item>Employee id: 1</nb-list-item>
                        <nb-list-item>Employee id: 2 </nb-list-item>
                        <nb-list-item>Employee id: 3 </nb-list-item>
                        <nb-list-item>Employee id: 4</nb-list-item>
                      </nb-list>
                    </nb-card-body>
                  </nb-card>
                </nb-card-body>
            </nb-card>
          </div>
          <div class="col-md-6 calendar-container">
            <textarea nbInput fullWidth placeholder="Reason for leave . . . . ."></textarea>
          </div>
          <div class="col-md-5 calendar-container">
            <input type="text" nbInput fullWidth status="danger" placeholder="Search to notify . . . . ." class="leaveinput">
          </div>




           
        </div>
        <button nbButton  hero status="success" class="mr-5 ml-5">Submit</button>
        <button nbButton hero status="danger" class="ml-5">Cancel</button>
    </nb-card-body>
</nb-card>

