<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Performance Review</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
                    <li class="breadcrumb-item active">Review</li>
                </ul>
            </div>
            <div class="col-auto float-end ms-auto">
                <a  class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_indicator"><i
                        class="fa fa-plus"></i> Add Review</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->




    <!-- <modal-contain> -->

     <div id="add_indicator" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Give New Review</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addIndicator()" [formGroup]="addIndicatorForm">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label class="col-form-label">Select Employees</label>
                                    <select class="form-select form-control">
                                        <option>--</option>
                                        <option>UserA</option>
                                        <option>UserB</option>
                                        <option>UserC</option>
                                        <option>UserD</option>
                                    </select>
                                </div> <br>

                               <div class="col-sm-12">
                                 <label class="col-form-label">Give descriptive review . . . .</label>
                                 <textarea class="form-control"></textarea>
                               </div>

                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

    <!-- </modal-contain> -->




    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table datatable 
                    class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th style="width: 30px;">#</th>
                            <th>Review by</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>User A</td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, aperiam.</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>User B</td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, aperiam.</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>User C</td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, aperiam.</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>User D</td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, aperiam.</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>User E</td>
                            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, aperiam.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->






