 <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Performance Feedback</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
                <li class="breadcrumb-item active">Feedback</li>
            </ul>
        </div>
        <div class="col-auto float-end ms-auto">
            <a  class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_indicator"><i
                    class="fa fa-plus"></i> Add Feedback</a>
        </div>
    </div>
    </div>
<!-- /Page Header -->



<!-- tabs -->
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                <li class="nav-item"><a class="nav-link active" href="#bottom-justified-tab1"
                        data-bs-toggle="tab">Praise</a></li>
                <li class="nav-item"><a class="nav-link" href="#bottom-justified-tab2"
                        data-bs-toggle="tab">Feedback Received</a></li>
                <li class="nav-item"><a class="nav-link" href="#bottom-justified-tab3"
                        data-bs-toggle="tab">Feedback Given</a></li>
                <li class="nav-item"><a class="nav-link" href="#bottom-justified-tab4"
                        data-bs-toggle="tab">Feedback Request</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane show active" id="bottom-justified-tab1">
                    Tab content 1
                </div>
                <div class="tab-pane" id="bottom-justified-tab2">
                    Tab content 2
                </div>
                <div class="tab-pane" id="bottom-justified-tab3">
                    Tab content 3
                </div>
                <div class="tab-pane" id="bottom-justified-tab4">
                    Tab content 4
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /tabs -->






 </div>

 