




<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <nb-stepper orientation="horizontal">
      <nb-step [label]="labelOne">
        <ng-template #labelOne>Basic Details</ng-template>
          <h4>Basic Details</h4>
          <form>
            <div class="form-group row">
              <label for="text" class="label col-sm-3 col-form-label">Firstname <span class="text-danger"> *</span></label>
              <div class="col-sm-8">
                <input type="text" nbInput fullWidth id="fname" placeholder="Enter Your Firstname">
              </div>
            </div>

            <div class="form-group row">
              <label for="text" class="label col-sm-3 col-form-label">Middlename</label>
              <div class="col-sm-8">
                <input type="text" nbInput fullWidth id="mname" placeholder="Enter Your Middlename">
              </div>
            </div>

            <div class="form-group row">
              <label for="text" class="label col-sm-3 col-form-label">Lastname<span class="text-danger"> *</span> </label>
              <div class="col-sm-8">
                <input type="text" nbInput fullWidth id="lname" placeholder="Enter Your Lastname">
              </div>
            </div>

            <div class="form-group row">
              <label for="email" class="label col-sm-3 col-form-label">Official Email Address<span class="text-danger"> *</span></label>
              <div class="col-sm-8">
                <input type="text" nbInput fullWidth id="email" placeholder="Enter Your Email">
              </div>
            </div>

            <div class="form-group row">
              <label for="email" class="label col-sm-3 col-form-label">Mobile no<span class="text-danger"> *</span></label>
              <div class="col-sm-8">
                <input type="text" nbInput fullWidth id="tel" placeholder="Enter Your Mobile no">
              </div>
            </div>

            <div class="form-group row">
              <label for="address" class="label col-sm-3 col-form-label">Address<span class="text-danger"> *</span></label>
              <div class="col-sm-4">
                <input type="text" nbInput fullWidth id="tadd" placeholder="Enter Your Temporary Address">
              </div>
              <div class="col-sm-4">
                <input type="text" nbInput fullWidth id="padd" placeholder="Enter Your Permanent Address">
              </div>
            </div>
           </form>
        <button nbButton nbStepperNext *ngFor="let status of statuses" nbButton [status]="status" hero  >next</button>
      </nb-step>


      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>Personal info</ng-template>
        <h3>Personal info</h3>
        <form>
          <div class="form-group row">
            <label for="dob" class="label col-sm-3 col-form-label">Date of birth</label>
            <div class="col-sm-4">
              <input type="date" nbInput fullWidth id="dob" placeholder="">
            </div>
          </div>

          <div class="form-group row">
            <label for="gender" class="label col-sm-3 col-form-label">Choose your gender</label>
            <div class="col-sm-4">
              <input type="radio" name="gender" id="fgender" value="female"> Male
            </div>
            <div class="col-sm-4">
              <input type="radio" name="gender" id="fgender" value="female"> Female
            </div>
          </div>
        </form>
        <button nbButton nbStepperPrevious *ngFor="let x of previous" nbButton [status]="x" hero>prev</button>
        <button nbButton nbStepperNext *ngFor="let status of statuses" nbButton [status]="status" hero  style="margin-left:1rem;" style="margin-left:1rem;">next</button>
      </nb-step>


      <nb-step [label]="labelThree">
        <ng-template #labelThree>Work Details</ng-template>
        <h3>Work Details</h3>
        <form>
          <div class="form-group row">
            <label for="dob" class="label col-sm-3 col-form-label">Employee Id</label>
            <div class="col-sm-8">
              <input type="text" nbInput fullWidth id="empid" placeholder="">
            </div>
          </div>

          <div class="form-group row">
            <label for="dob" class="label col-sm-3 col-form-label">Department</label>
            <div class="col-sm-8">
              <input type="text" nbInput fullWidth id="dep" placeholder="Enter Your Department">
            </div>
          </div>

          <div class="form-group row">
            <label for="dob" class="label col-sm-3 col-form-label">Sub Department</label>
            <div class="col-sm-8">
              <input type="text" nbInput fullWidth id="sdep" placeholder="Enter Your Sub Department">
            </div>
          </div>

          <div class="form-group row">
            <label for="dob" class="label col-sm-3 col-form-label">Designation</label>
            <div class="col-sm-8">
              <input type="text" nbInput fullWidth id="deg" placeholder="Enter Your Designation">
            </div>
          </div>

          <div class="form-group row">
            <label for="dob" class="label col-sm-3 col-form-label">Job Title</label>
            <div class="col-sm-8">
              <input type="text" nbInput fullWidth id="jobt" placeholder="Enter Your Job Title">
            </div>
          </div>

          <div class="form-group row">
            <label for="dob" class="label col-sm-3 col-form-label">Reporting Maneger</label>
            <div class="col-sm-8">
              <input type="text" nbInput fullWidth id="rmag" placeholder="Enter Your Reporting Maneger">
            </div>
          </div>

          <div class="form-group row">
            <label for="dob" class="label col-sm-3 col-form-label">Work Location</label>
            <div class="col-sm-8">
              <input type="text" nbInput fullWidth id="wloc" placeholder="Enter Your Work Location">
            </div>
          </div>
          
          <div class="form-group row">
            <label for="dob" class="label col-sm-3 col-form-label">Employee Type</label>
            <div class="col-sm-8">
              <input type="text" nbInput fullWidth id="etype" placeholder="Enter Your Employee Type">
            </div>
          </div>

          <div class="form-group row">
            <label for="dob" class="label col-sm-3 col-form-label">Probation Period</label>
            <div class="col-sm-8">
              <input type="text" nbInput fullWidth id="ptime" placeholder="Enter Your Probation Period">
            </div>
          </div>

          <div class="form-group row">
            <label for="dob" class="label col-sm-3 col-form-label">Date of joinig</label>
            <div class="col-sm-8">
              <input type="text" nbInput fullWidth id="jdate" placeholder="Enter Your Date of joinig">
            </div>
          </div>

          
        </form>
        <button nbButton nbStepperPrevious *ngFor="let x of previous" nbButton [status]="x" hero>prev</button>
        <button nbButton nbStepperNext *ngFor="let status of statuses" nbButton [status]="status" hero  style="margin-left:1rem;">next</button>
      </nb-step>



      <nb-step [label]="labelFour">
        <ng-template #labelFour>Previous Work Details</ng-template>
        <h3>Previous Work Details Of Company 1</h3>
        <form>
          <div class="form-group row">
            <label for="email" class="label col-sm-3 col-form-label">Previous Company</label>
            <div class="col-sm-8">
              <input type="text" nbInput fullWidth id="pcom1" placeholder="Enter Your Previous Company">
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="label col-sm-3 col-form-label">Date of Joining </label>
            <div class="col-sm-8">
              <input type="date" nbInput fullWidth id="djoining1" placeholder="">
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="label col-sm-3 col-form-label">Date of Relieving  </label>
            <div class="col-sm-8">
              <input type="date" nbInput fullWidth id="drelieving1" placeholder="">
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="label col-sm-3 col-form-label">Years of experience  </label>
            <div class="col-sm-8">
              <input type="number" nbInput fullWidth id="nyear1" placeholder="Enter Your Years of experience in company">
            </div>
          </div>
          
          <div class="form-group row">
            <label for="email" class="label col-sm-3 col-form-label">Previous Company </label>
            <div class="col-sm-8">
              <input type="text" nbInput fullWidth id="pcom" placeholder="Enter Your Years of experience in company 1">
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="label col-sm-3 col-form-label">Date of Joining </label>
            <div class="col-sm-8">
              <input type="date" nbInput fullWidth id="djoining" placeholder="">
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="label col-sm-3 col-form-label">Date of Relieving  </label>
            <div class="col-sm-8">
              <input type="date" nbInput fullWidth id="drelieving" placeholder="">
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="label col-sm-3 col-form-label">Years of experience  </label>
            <div class="col-sm-8">
              <input type="number" nbInput fullWidth id="nyear" placeholder="Enter Your Years of experience in company 2">
            </div>
          </div>


        </form>
        <button nbButton nbStepperPrevious *ngFor="let x of previous" nbButton [status]="x" hero>prev</button>
        <button nbButton nbStepperNext *ngFor="let status of statuses" nbButton [status]="status" hero  style="margin-left:1rem;">next</button>
      </nb-step>
      


        <nb-step [label]="labelFive">
          <ng-template #labelFive>Upload Documents</ng-template>
          <h3>Upload Documents </h3>
          <form>
            <div class="form-group row">
              <label for="gender" class="label col-sm-3 col-form-label">Choose your course</label>
              <div class="col-sm-3">
                <input type="radio" name="diploma" id="diploma" value="diploma"> Diploma course
              </div>
              <div class="col-sm-3">
                <input type="radio" name="degree" id="degree" value="degree"> Degree course
              </div>
              <div class="col-sm-3">
                <input type="radio" name="certificate" id="certificate" value="certificate"> Certificate course
              </div>
            </div>

            <div class="form-group row">
              <label for="certificates" class="label col-sm-3 col-form-label"> Certificate of course</label>
              <div class="col-sm-4">
                <input type="file" nbInput fullWidth id="cfile" placeholder="">
              </div>
            </div>

            <div class="form-group row">
              <label for="adhar" class="label col-sm-3 col-form-label"> Aadhar card</label>
              <div class="col-sm-4">
                <input type="file" nbInput fullWidth id="adhar" placeholder="">
              </div>
            </div>

            <div class="form-group row">
              <label for="pan" class="label col-sm-3 col-form-label"> Pan Card</label>
              <div class="col-sm-4">
                <input type="file" nbInput fullWidth id="pan" placeholder="">
              </div>
            </div>

            <div class="form-group row">
              <label for="vcard" class="label col-sm-3 col-form-label"> Voter ID</label>
              <div class="col-sm-4">
                <input type="file" nbInput fullWidth id="vcard" placeholder="">
              </div>
            </div>

            <div class="form-group row">
              <label for="pid" class="label col-sm-3 col-form-label"> Passport ID</label>
              <div class="col-sm-4">
                <input type="file" nbInput fullWidth id="pid" placeholder="">
              </div>
            </div>

            <div class="form-group row">
              <label for="expletter" class="label col-sm-3 col-form-label"> Previous company's experience certificate</label>
              <div class="col-sm-4">
                <input type="file" nbInput fullWidth id="expletter" placeholder="">
              </div>
            </div>
          </form>
          <button nbButton nbStepperPrevious *ngFor="let x of previous" nbButton [status]="x" hero>prev</button>
          <button nbButton nbStepperNext *ngFor="let status of statuses" nbButton [status]="status" hero  style="margin-left:1rem;">next</button>
        </nb-step>


          <nb-step [label]="labelSix">
        <ng-template #labelSix>Salary </ng-template>
        <h3>Salary Details</h3>
        <form>
          <div class="form-group row">
            <label for="ctc" class="label col-sm-3 col-form-label">CTC</label>
            <div class="col-sm-4">
              <input type="text" nbInput fullWidth id="ctc" placeholder="Enter Your CTC">
            </div>
          </div>
          
          <div class="form-group row">
            <label for="accholder" class="label col-sm-3 col-form-label">Account Holder's Name</label>
            <div class="col-sm-4">
              <input type="text" nbInput fullWidth id="accholder" placeholder="Enter Account Holder's Name">
            </div>
          </div>

          <div class="form-group row">
            <label for="bankName" class="label col-sm-3 col-form-label">Bank Name</label>
            <div class="col-sm-4">
              <input type="text" nbInput fullWidth id="bankName" placeholder="Enter Your Bank Name">
            </div>
          </div>

          <div class="form-group row">
            <label for="city" class="label col-sm-3 col-form-label">City</label>
            <div class="col-sm-4">
              <input type="text" nbInput fullWidth id="city" placeholder="Enter Your City Name">
            </div>
          </div>

          <div class="form-group row">
            <label for="branchName" class="label col-sm-3 col-form-label">Branch Name</label>
            <div class="col-sm-4">
              <input type="text" nbInput fullWidth id="branchName" placeholder="Enter Your Bank's Branch Name">
            </div>
          </div>

          <div class="form-group row">
            <label for="IFSCcode" class="label col-sm-3 col-form-label">IFSC Code</label>
            <div class="col-sm-4">
              <input type="text" nbInput fullWidth id="IFSCcode" placeholder="Enter Your Bank's IFSC Code">
            </div>
          </div>

          <div class="form-group row">
            <label for="accountNumber" class="label col-sm-3 col-form-label">Account Number</label>
            <div class="col-sm-4">
              <input type="number" nbInput fullWidth id="accountNumber" placeholder="Enter Your Bank's Account Number">
            </div>
          </div>
        </form>
        <button nbButton nbStepperPrevious *ngFor="let x of previous" nbButton [status]="x" hero>prev</button>
        <button nbButton nbStepperNext *ngFor="let y of submit" nbButton [status]="y" hero  style="margin-left:1rem;">Submit</button>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>



