<!-- Page Content -->
<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="page-title">Probation Policy</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/layout/dashboard/admin">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Probation Policy</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->



  <!-- Content Starts -->
    
   <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                    <div class="col-md-3 card-header">
                        <h4> <span> Default Probation Policy</span> </h4>
                        <p class="text-muted">Default Probation Policy</p>
                    </div>
                    <li class="nav-item"><a class="nav-link active" href="#bottom-justified-tab2"
                            data-bs-toggle="tab">Policy</a></li>
                    <li class="nav-item"><a class="nav-link" href="#bottom-justified-tab3"
                            data-bs-toggle="tab">Employees</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane show active" id="bottom-justified-tab2">
                      <span><h4>Probation Policy Setting</h4><span><a href="#">Edit</a></span> </span> <br> <br>
                     <span class="text-muted">Evaluation at the end of probation</span> <br>
                        <span>No</span> <br> <br>

                    <span class="text-muted">End employee probation automatically</span> <br>
                    <span>Yes</span>

                    </div>



                    <div class="tab-pane" id="bottom-justified-tab3">
                        <table>
                            <tr>
                                <td class="col-md-4">
                                    <span class="text-muted">Authorized Signatories</span>
                                    <p>Officers or signatories to sign on behalf of the legal entity </p>
                                </td>
                            </tr> <br> 
                            <tr>
                                <td class="col-md-4">
                                    <span> John Doe</span>
                                    <p class="text-muted">Managing Director</p>
                                </td>
                            </tr> <br> 
                        </table>
                    </div>
                    <div class="tab-pane" id="bottom-justified-tab4">
                        <table>
                          <tr>
                            <td class="col-md-4">
                                 <span> Bank Details</span>
                            <p  class="text-muted">Bank account used for Payroll and expense tracking</p>
                            </td>
                          </tr> <br>

                          <tr>
                            <td  class="col-md-4">
                               <span class="fa fa-university" aria-hidden="true"> HDFC Bank RT Nagar</span>
                               <p class="text-muted">502595895684513</p>
                             </td>
                          </tr>
                        </table>
                       
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
  <!-- /Content End -->


</div>
<!-- /Page Content -->
