 <div class="content container-fluid">

  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title"> Core Values</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
                <li class="breadcrumb-item active">Core</li>
            </ul>
        </div>
        <div class="col-auto float-end ms-auto">
            <a  class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_indicator"><i
                    class="fa fa-eye"></i> View Competencies</a>
        </div>
       
    </div> <br> <br>
<!-- Overtime Statistics -->
 <div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="stats-info">
            <span>Domain</span>
            <h3> 1</h3>
            <h6>Scientific Concepts and Research Design</h6>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="stats-info">
            <span>Domain</span>
            <h3> 2</h3>
            <h6>Ethical and Participant Safety Considerations</h6>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="stats-info">
            <span>Domain</span>
            <h3> 3</h3>
            <h6>Investigational Products Development and Regulation</h6>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="stats-info">
            <span>Domain</span>
            <h3> 4</h3>
            <h6> Clinical Study Operations (Good Clinical Practice)</h6>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="stats-info">
            <span>Domain</span>
            <h3> 5</h3>
            <h6> Study and Site Management</h6>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="stats-info">
            <span>Domain</span>
            <h3> 6</h3>
            <h6> Data Management and Informatics</h6>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="stats-info">
            <span>Domain</span>
            <h3> 7</h3>
            <h6>Leadership and Professionalism</h6>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="stats-info">
            <span>Domain</span>
            <h3> 8</h3>
            <h6>Communications and Teamwork</h6>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="stats-info">
            <span>Domain</span>
            <h3> 9</h3>
            <h6> Scientific Concepts and Research Design</h6>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="stats-info">
            <span>Domain</span>
            <h3> 10</h3>
            <h6> Clinical Study Operations (Good Clinical Practice)</h6>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="stats-info">
            <span>Domain</span>
            <h3> 11</h3>
            <h6>Communications and Teamwork</h6>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="stats-info">
            <span>Domain</span>
            <h3> 12</h3>
            <h6> Scientific Concepts and Research Design</h6>
        </div>
    </div>
</div>
<!-- /Overtime Statistics -->

</div>
<!-- /Page Header -->

 
</div> 
 
 
   <!-- <modal-contain> -->

    <div id="add_indicator" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">View Competencies</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                     <!-- Alerts -->
            <section class="comp-section" id="comp_alerts">
                <div>
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                Strategic Management.
            </div>
            <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                Project Management.
            </div>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Architecture.
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                Information Security.
            </div>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                Design, Development, and Maintenance.
            </div>
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                Operations and Support.
            </div>
            <div class="alert alert-light alert-dismissible fade show" role="alert">
                Quality Assurance.
            </div>
            <div class="alert alert-dark alert-dismissible fade show" role="alert">
                Generic Skills.
            </div>
        </div>
    </section>
    <!-- /Alerts -->
                </div>
            </div>
        </div>
        </div>
    
        <!-- </modal-contain> -->