


<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Legal Entities</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/layout/dashboard/admin">Dashboard</a></li>
                    <li class="breadcrumb-item active">Legal Entities</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Content Starts -->


     <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                    <div class="col-md-3 card-header">
                        <h4> <span class="fa fa-building" aria-hidden="true"> Excel Precast Solutions</span> </h4>
                        <p class="text-muted">322 Employees</p>
                    </div>
                    <li class="nav-item"><a class="nav-link active" href="#bottom-justified-tab2"
                            data-bs-toggle="tab">Registration Information</a></li>
                    <li class="nav-item"><a class="nav-link" href="#bottom-justified-tab3"
                            data-bs-toggle="tab">Authorized signatories</a></li>
                    <li class="nav-item"><a class="nav-link" href="#bottom-justified-tab4"
                            data-bs-toggle="tab">Bank Details</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane show active" id="bottom-justified-tab2">
                      <span class="text-muted">Registration Addres</span> <br>
                      <address>
                        Written by Jon Doe.<br> 
                        Visit us at:<br>
                        Example.com<br>
                        Box 564, Disneyland<br>
                        USA
                        </address>    <br> <br>

                        <span class="text-muted">Country Of Incoorporation</span> <br>
                        <p>India</p>    <br> <br> <hr class="text-muted">

                        <table>
                            <tr>
                                <td class="col-md-4">
                                    <span class="text-muted">Incorporation Information</span>
                                    <p>This information is used to generate payroll compliance forms <br>(India only)</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-md-4">
                                    <span class="text-muted">Legal Name</span> 
                                    <p>Excel Precast Solution Pvt Ldt</p>
                                </td>
                                <td class="col-md-4">
                                    <span class="text-muted">Company Identification Number</span>
                                    <p> 70200DGBFH60231DG</p>
                                </td>
                                <td class="col-md-4">
                                    <span class="text-muted">Date Of Incorporation</span> 
                                    <p>16 Oct 2022</p>
                                </td>
                             </tr>

                             <tr>
                                <td class="col-md-4">
                                    <span class="text-muted">Type Of Business</span> 
                                    <p> Private Limited</p>
                                </td>
                                
                                <td class="col-md-4">
                                    <span class="text-muted">Sector</span> 
                                    <p>Manufacturing Industry</p>
                                </td>

                                <td class="col-md-4">
                                    <span class="text-muted">Nature Of Business</span> 
                                    <p>Others(124)</p>
                                </td>
                             </tr>

                        </table>
                    </div>



                    <div class="tab-pane" id="bottom-justified-tab3">
                        <table>
                            <tr>
                                <td class="col-md-4">
                                    <span class="text-muted">Authorized Signatories</span>
                                    <p>Officers or signatories to sign on behalf of the legal entity </p>
                                </td>
                            </tr> <br> 
                            <tr>
                                <td class="col-md-4">
                                    <span> John Doe</span>
                                    <p class="text-muted">Managing Director</p>
                                </td>
                            </tr> <br> 
                        </table>
                    </div>
                    <div class="tab-pane" id="bottom-justified-tab4">
                        <table>
                          <tr>
                            <td class="col-md-4">
                                 <span> Bank Details</span>
                            <p  class="text-muted">Bank account used for Payroll and expense tracking</p>
                            </td>
                          </tr> <br>

                          <tr>
                            <td  class="col-md-4">
                               <span class="fa fa-university" aria-hidden="true"> HDFC Bank RT Nagar</span>
                               <p class="text-muted">502595895684513</p>
                             </td>
                          </tr>
                        </table>
                       
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

    
    <!-- /Content End -->

</div>
<!-- /Page Content -->